<div class="body"></div>
<div class="header">
  <span id="logo">
    <app-logo></app-logo>
  </span>
   <span id="msg">Frontend <b> Technical Assignment</b></span>
</div>
<div class="container" style="height:100%;position:static">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <app-transfer></app-transfer>
    </div>
    <div class="col-sm-12 col-md-8">
      <app-transaction-view ></app-transaction-view>
    </div>
  </div>
</div>
<div class="footer"><app-footer></app-footer></div>



