@import '../../../../assets/styles/var.scss';

td{
  text-align: left;
  vertical-align: bottom;
  width:15%;
  padding: $small_spacing 0px $medium_spacing 0px
}


table {
  border-collapse: collapse;
  width: 100%;
}

#border{
    font-size: 35px;
    padding:3px 0px 10px 0px;
  }

#table_color{
  width:15px;

}

#table_siblings{
   padding-top: $medium_spacing
}


app-transaction-item{
  border-top: 1px solid rgb(238, 237, 237);
  display:table;
  height: 100%;
  width:100%;
  overflow-y:flow;
}

#txntype{
  font-weight: lighter;
  font-size: 13px;
  display: block;
}

::ng-deep .input-group-text{
  height:100%;
}

td[data-test-hook="transactionAmount"]{
   color: red;
}


