@import "../../app/shared/external-lib/recruitment-fe-assignment-main/bb-ui/styles/main.scss";

// spacing
$small-spacing: $small-spacing;
$medium-spacing: $medium-spacing;
$large-spacing: $large-spacing;
// colors
$primary-blue: $primary-blue;

// form
$submit_button: #ec6f31;
$error_color: #db3645;


$backgroundImage: url('../background.jpg');
